* {
  margin: 0;
  padding: 0;
}

#usage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border: 2px solid orange;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80vh;
  border: 2px solid orange;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80vh;
  border: 2px solid orange;
}

#temperature-up {
  width: 100px;
  height: 50px; /* as the half of the width */
  background-color: rgb(189, 47, 47);
  border-top-left-radius: 110px;  /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 10px solid rgb(189, 47, 47);
  border-bottom: 0;
  font-size: 40px;
}

#temperature-up:hover {
  color: yellow;
}

#temperature-down {
  width: 100px;
  height: 50px; /* as the half of the width */
  background-color: rgb(4, 20, 236);
  border-bottom-right-radius: 110px;  /* 100px of height + 10px of border */
  border-bottom-left-radius: 110px; /* 100px of height + 10px of border */
  border: 10px solid rgb(4, 20, 236);
  border-bottom: 0;
  font-size: 40px;
}

#temperature-down:hover {
  color: yellow;
}

#powersaving-on {
  padding: 10px;
}

#powersaving-off {
  padding: 10px;
}

#temperature {
  padding: 50px;
}

#temperature-reset {
  height: 40px;
  width: 50px;
  border-radius: 50%;
  background-color: orange; 
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}